<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Cloud</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/images/cloud-logo.png" alt="Cloud Logo">
        </div>
        <div class="options">
            <button onclick="location.href='/import'">Import Files</button>
            <button onclick="location.href='/files'">See Files</button>
        </div>
    </div>
</body>
</html>